{% extends '_layouts/base' %}

{% block content %}
    <div class="w-full h-screen flex flex-col justify-center items-center gap-4">
        <h1 class="text-6xl font-black uppercase">Everything is working now</h1>
        <h2 class="text-4xl">Vite & Tailwind & CraftCMS 5</h2>
    </div>
{% endblock %}